
#image {
  width: 100%;
  height: auto;
}

nav {
        width: 100%;
        background: white;
    }
        .nav a{
            color: black !important;
            font-size: 1.2em !important;
        }

         h1 {
          font-size:36px;
          font-family: 'Arial', serif;
        }

img.img-fluid {
  border-radius: 25px;
  padding: 20px;
  width: 280px;
  height: 150px;
}

footer {
  background-color: #f5f5f5;
}
